<%= form_for(@person, html: {class: "form-horizontal"}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation" class="alert alert-danger col-md-offset-3">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
        <%= f.label :first_name, class: "col-md-3 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :last_name, class: "col-md-3 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>


    <div class="form-group">
        <%= f.label :date_of_birth, class: "col-md-3 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :date_of_birth, class: "form-control", placeholder: "11/26/1984" %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :bio, class: "col-md-3 control-label" %>
      <div class="col-md-5">
        <%= f.text_area :bio, class: "form-control" %>
      </div>
    </div>

<div class="col-md-offset-3 col-cm-5">
  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-info"%>
    <%= link_to 'Cancel', people_path, class: "btn btn-default" %>
  </div>
</div>
<% end %>
