<%= form_for(@person, html: {class: "form-horizontal col-md-10"}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation" class="alert alert-danger col-md-offset-2">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <div class="row">
        <div class="field">
          <div class="col-md-3">
            <%= f.label :first_name %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :first_name %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-horizontal">
    <div class="form-group">
      <div class="row">
        <div class="field">
          <div class="col-md-3">
            <%= f.label :last_name %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :last_name %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-horizontal">
    <div class="form-group">
      <div class="row">
        <div class="field">
          <div class="col-md-3">
            <%= f.label :date_of_birth %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :date_of_birth %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-horizontal">
    <div class="form-group">
      <div class="row">
        <div class="field">
          <div class="col-md-3">
            <%= f.label :bio %>
          </div>
          <div class="col-md-5">
            <%= f.text_area :bio %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-info"%>
    <button type="button" class="btn btn-default">Cancel</button>
  </div>
<% end %>
